spring:
  application:
    name: gateway

server:
  port: 8093

routing:
  microservice:
    trucks: http://localhost:8090
    clients: http://localhost:8091
    shipping: http://localhost:8092

spring:
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/tpi-backend