spring:
  application:
    name: gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://keycloak:8080/realms/tpi-backend
          jwk-set-uri: http://keycloak:8080/realms/tpi-backend/protocol/openid-connect/certs
server:
  port: 8093

routing:
  microservice:
    # Cuando corre en Docker, usar el nombre del servicio (definido en docker-compose)
    # Asegurate que el servicio de Truck en Docker Compose se llame "truck-microservice"
    trucks: http://truck-microservice:8091
    clients: http://client-microservice:8092
    shipping: http://shipping-microservice:8090

logging:
  level:
    org.keycloak: DEBUG

          

# server:
#   port: 8093

# routing:
#   microservice:
#     trucks: http://localhost:8091
#     clients: http://localhost:8092
#     shipping: http://localhost:8090
