services:

  mysql:
    image: mysql:8.0.33
    container_name: truck_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root_1
      MYSQL_DATABASE: mi_basedatos_app
      MYSQL_USER: user_1
      MYSQL_PASSWORD: mi_usUario22
    healthcheck:
      test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "3310:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend-net
    # command: --default-authentication-plugin=mysql_native_password

  truck-microservice:
    build: .
    container_name: truck_Microservice
    depends_on:
      mysql:
       condition: service_healthy
    environment:
      DB_HOST: mysql
      DB_PORT: 3306
      DB_NAME: mi_basedatos_app
      DB_USER: user_1
      DB_PASSWORD: mi_usUario22
    ports:
      - "8091:8091"
    restart: always
    networks:
      - backend-net

volumes:
  mysql_data:

networks:
  backend-net:
    driver: bridge